@import 'color_theme';

/*Main Layout*/
#headerPanel {
  background:$main_color;
  margin-top:10px;
}

#navPanel{
	height:60px;
	line-height: 60px;
	width:100%;
	background: $acc_color1;
	font-size: 15px;
}

#mainPanel{
	color: $main_color;
	min-height: 750px;
}

#contentPanel {
	min-height:500px;
	position: relative;
	margin:35px 50px auto;
}

#footerPanel{
	position: fixed;
	bottom: 0;
	width:100%;
	background: $acc_color1;
	border-top: 1px $acc_color2 solid;
	height: 40px;
}



.nav {
	color:$acc_color3;
	padding: 0px 30px;
	display:inline-block;
}
.nav:hover{
	text-decoration: underline;
	cursor: pointer;
}
.selectedNav{
	color: $main_color;
}
#linkWraps{
	text-align:center;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
}
#logo{
	color: $acc_color3;
	display:inline-block;
	margin-left: 20px;
	//font-size: 18px;
	font-weight: 600;
	background: $acc_color1;
	position: relative;
	z-index:4;
}
.panel{
	margin-top:20px;
}
#notificationsWrap{
	//height: 80px;
	position: absolute;
	top: 60px;
	width: 100%;
	right: 0;
	background:$acc_color2;
	z-index: 2;
	text-align: center;
	//border-bottom: 2px $acc_color2 solid;
	padding-bottom:2px;
}
#noticeScrollWrap{
	display: none;
	height: 90px;
	overflow-y: auto;
}
.notificationWrap{
	width: 97%;
	margin: auto;
	background: $acc_color1;
	margin: 1px 0;
	padding: 5px;
	border-radius: 2px;
	border-left: 5px $hi_color3 solid;	//success color
	color: $acc_color3;
	font-size: 14px;
	display: inline-block;
	text-align: left;
}
#notificationHandle{
	background: $acc_color2;
	width: 100px;
	display:inline-block;
	height: 15px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	text-align: center;
	position: absolute;
	bottom: -15px;
	margin-left:-50px;
}
#notificationHandle:hover{
	cursor: pointer;
	color: $hi_color1;
}
.closeNotification{
	float: right;
	margin-right: 5px;
	cursor: pointer;
}
.closeNotification:hover{
	color: $hi_color1;
}
.notificationIcon{
	margin: 0 10px;
	color: $hi_color3;					//success color
}
.warningNotice{
	border-left: 5px $hi_color1 solid;	//warning color
}
.warningNotice .notificationIcon{
	color: $hi_color1;					//warning color
}
#emptyNotifications{
	color: $acc_color1-5;
	margin-top: 30px;
}
.noticeTime{
	//color: #ccc;
	font-size: 11px;
}


// --------- Home ---------
.marblesWrap{
	display: inline-block;
	display:none;
	width: 30%;
	text-align: left;
	color: $main_color;
	margin-bottom: 15px;
	//border: 1px $acc_color2 solid;
	position: relative;
	min-height: 158px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
	background: $acc_color1;
}
.innerMarbleWrap{
	min-height:100px;
}
.legend{
	display:absolute;
	z-index: 1;
	font-size:30px;
	padding-top: 10px;
}
.legend {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}
/*
#ownerWrap{
	width: 820px;
	margin: auto;
}*/
.ball{
	display:inline-block;
	margin: 0 10px;
	margin-right: 0;
	border:1px transparent solid;
	padding:0;
	vertical-align: bottom;
}
.ball:hover{
	cursor: pointer;
	border-bottom:1px $main_color solid;
}

#description{
	margin: 60px 0 5px 0;
	width:100%;
	text-align: center;
}
#trashbin{
	width: 20%;
	display: inline-block;
	text-align: center;
	margin-left: 30px;
	margin-top: 22px;
	padding: 15px;
	border: 1px $acc_color2 solid;
	border-radius:3px;
	vertical-align: top;
}
#trashText{
	vertical-align: top;
	display: inline-block;
	margin-top: 17px;
	margin-left: 10px;
	color: $main_color;
	font-weight: 100;
	font-size: 12px;
}
.marblesCloseSectionPos{
	padding: 2px;
	font-size: 16px;
	float:right;
}
.marblesCloseSection:hover, .marblesOpenSection:hover{
	color: $hi_color1;
	cursor: pointer;
}

.notAdminControl{
	background: $acc_color1-5;
}
.noMarblesMsg{
	text-align: center;
	position: absolute;
	top: 85px;
	left: 40%;
}

// --------- Create ---------
.addMarble{
	height: 80px;
	width: 80px;
	line-height: 75px;
	margin-left: 10px;
	font-size: 20px;
	vertical-align: bottom;
	border: 1px dashed #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 80px;
}
.addMarble:hover{
	color: $hi_color1;
	cursor: pointer;
}
.createball{
	font-size:275px;
	float:left;
	color: transparent;
	border: 2px dashed $main_color;
	border-radius: 200px;
	width: 250px;
	height: 250px;
}
#createform{
	float: right;
	margin-top: 40px;
	margin-left: 15px;
}
.createLegend{
	width:45px;
	display: inline-block;
}
#innerWrap{
	margin:auto;
	text-align: right;
	margin-top:50px;
}

#createPanel{
	position: absolute;
	top: 75px;
	background: #343d48;
	//border: 1px #646b73 solid;
	z-index: 1005;
	padding: 50px;
	left: 23%;
}
#tint{
	display:none;
	background: #000;
	opacity: .85;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

// --------- common ---------
.hint{
	font-size:12px;
	font-weight:bold;
	color:$acc_color2;
}
#viewBCWrap{
	color:$main_color;
	padding:22px;
	background: $acc_color1;
	font-size:12px;
	cursor:pointer;
	width:180px;
	text-align: center;
	margin-left:25px;
}
#footerWrap{
	height: 235px;
	background: $acc_color0;
	color: $acc_color2;
	width:100%;
	border-top:25px $acc_color1 solid;
}

#notificationPanel{
	display:none;
	width: 0;
	position: absolute;
	right:0;
	top: 90px;
	color: $acc_color3;
	background: $acc_color1;
	padding: 30px 0;
	border-left: 25px $hi_color3 solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}
#errorNoticeText{
	margin-bottom:10px;
	font-size:13px;
	width:88%;
	text-align: center;
}

#closeNotification{
	background:initial;
	color: $main_color;
}

#noticeIcon, #errorNoticeIcon{
	position:absolute; 
	left:-19px; 
	top: 45px; 
	color:$acc_color1;
}

// -- Table -- //
#userTable{
	//width: 612px;
	vertical-align: top;
}
/*
#userTable tbody{
	max-height: 124px;
	overflow: auto;
	//display: block;
}*/
.userRow{
	border-bottom-width: 1px;
	font-size: 12px;
	cursor: pointer;
}
.userRow td, .userRow th{
	padding: 5px;
	text-align: left;
	margin: 0;
}/*
.userMarbles{
	width: 60px;
}
.userName{
	width: 200px;
}
.userCompany{
	width: 225px;
}
td.userRights, th.userRights{
	width: 70px;
	text-align: center;
}*/

.selectedRow{
	background: $acc_color1;
}



// --------- error msg ---------
#errorNotificationPanel{
	display:none;
	width: 450px;
	position: absolute;
	right:0;
	top: 90px;
	color: $acc_color3;
	background: $acc_color1;
	padding: 30px 0;
	border-left: 25px $hi_color1 solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}
#errorNoticeText{
	margin-top:10px;
	text-align: left;
	margin-left:10px;
}

#errorNoticeIcon{
	top:42%;
}

// --------- marble colors ---------
.white{color:#FFFEF3;}
.black{color:#1C2026;}
.red{color:#F15847;}
.green{color:#68B369;}
.blue{color:#3D76BA;}
.purple{color:#634FA1;}
.pink{color:#CC5AA2;}
.orange{color:#ED8F30;}
.yellow{color:#DAC94E;}

.whitebg{background:#FFFEF3;}
.blackbg{background:#1C2026}
.redbg{background:#F15847}
.greenbg{background:#68B369}
.bluebg{background:#3D76BA}
.purplebg{background:#634FA1}
.pinkbg{background:#CC5AA2}
.orangebg{background:#ED8F30}
.yellowbg{background:#DAC94E}


.colorSelectWrap{
	text-align: left;
	margin: 5px;
	display: inline-block;
}
.colorInput{
	width:105px;
	border: 1px solid $acc_color2;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
}
.colorOptionsWrap{
	display:none;
	position:absolute;
	background: $acc_color1;
	padding: 10px 0;
	width:105px;
	border-radius: 10px;
	text-align: left;
	margin-top:1px;
	z-index:4;
}
.colorOption{
	width: 85px;
	display:block;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.colorOption:hover{
	background: $acc_color0;
}
.colorValue{
	margin-left:10px;
}

#loginPanel{
	width: 400px;
	margin: auto;
	border: 1px $acc_color2 solid;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

#triangle{
	border: 10px solid $acc_color3;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	width: 0;
	left: 45%;
	position: absolute;
	top: -20px;
}


//------------ Login ------------//
#welcomePanel{
	text-align: center;
	max-width: 575px;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 100px;
	font-size: 12px;
}
.split1x3{
	display: inline-block;
	padding:0;
	margin: 0;
	width: 25%;
	margin-right: 8%;
	vertical-align: top;
}
.welcomeTitle{
	font-weight: 600;
	font-size: 15px;
}
#loginCompany{
	color:$hi_color1; 
	text-align:center;
}
#loginTitle{
	margin-left: 15px;
	font-weight: 600;
	color: $main_color;
	font-size: 16px;
}
#adminText{
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 35px;
}
.blub1x3{
	display:inline-block;
	height: 28px;
	margin-bottom: 20px;
}
.welcomeImg{
	height: 75px;
}


#testBall, #testBall2, #testBall3, #testBallLeft, #testBallRight{
	border: 5px solid $acc_color0;
	border-top-color: $hi_color3;
	border-bottom-color: $hi_color3;
	height: 30px;
	width: 30px;
	position: relative;
	position: absolute;
	top:0;
	left:0;
	background: transparent;
	margin:0;
	padding: 0;
}
/*
#testBall:before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 26px;
	width: 26px;
	border: 2px solid #343d48;
	border-radius: 100px;
}*/

/*
.ball{
	border-radius:1000px;		//dsh this conflicts with the real ones
}
*/

#testBall.hideBorders{
	border-color: transparent;
}

#testBall{
	//border-color: transparent;
	background: #fff;
}

#ballWrap{
	height: 40px;
	width: 40px;
	position: absolute;
}

#testBall2{
	color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	top:-50px;
}

#testBall3{
	color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	top:50px;
}

#testBallLeft{
	color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	left:-50px;
}

#testBallRight{
	color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	left:50px;
}


//-- start up panel -- //
#startUpPanel{
	display: none;
	position: absolute;
	top: 100px;
	background: #343d48;
	border: 1px #646b73 solid;
	z-index: 1005;
	padding: 40px;
	width: 90%;
	left: 2%;
}
.stepWrap{
	display: inline-block;
	width: 25%;
	text-align: center;
	vertical-align: top;
}
.stepNext{
	display: inline-block;
	width:10%;
	vertical-align: top;
	margin-top: 65px;
}
.stepHeader{
	font-weight: 600;
	margin-top: 10px;
	height: 40px;
}
.stepCircleStatus{
	margin-top: 35px;
	height: 20px;
	width: 20px;
	display: inline-block;
	background: $main_color;
	border-radius: 100px;
}
.stepDescription{
	font-size: 13px;
	text-align: left;
	height: 100px;
}
.stepLoading{
	margin: 10px 0;
}
.stepEdit{
	font-size: 12px;
	padding-bottom: 20px;
}
.inactiveStep{
	opacity: 0.3;
}
.inactiveStep .stepLoading, .stepComplete .stepLoading, .stepFailed .stepLoading{
	opacity: 0;
}
.stepComplete .stepCircleStatus{
	background: #6CC284;
}
.stepFailed .stepCircleStatus{
	background: #f14646;
}
.stepHelpWrap{
	display: none;
	text-align: center;
	border-top: 2px #ccc solid;
	margin-top: 30px;
	padding-top: 30px;
}
.stepHelpTxt {
	font-size: 13px;
}
.stepInputLegend{
	display: inline-block;
	text-align: right;
	width: 100px;
	font-size: 13px;
	margin-right: 5px;
}