@import 'color_theme';
$left_width: 175px;
#auditWrap {
	position: absolute;
	width: 100%;
	background: $acc_color2;
	color: $main_color;
	height: 100%;
}
#auditLegend{
	color: $acc_color3;
	padding: 20px 0 15px 0;
	bottom: 13px;
	font-size: 18px;
}
#auditContentWrap{
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
#marbleIdWrap{
	font-size: 12px;
	margin-bottom: 15px;
}

.txHistoryWrap{
	display: inline-block;
	vertical-align: bottom;
	margin-top: 35px;
} 
.leftTxWrap{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.biggerLeft{
	margin-bottom: 50px;
}

.txDetails{
	position: relative;
	vertical-align: bottom;
	font-size: 14px;
	display: inline-block;
	margin-left: 30px;
	left: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}
.marbleLegend{
	width: 85px;
	display: inline-block;
	font-weight: 700;
}
.marbleName{
	display: inline-block;
	margin-left: 10px;
}
.txId, .marbleName{
	background: $main_bg;
	font-size: 12px;
	font-family: monospace;
	padding: 3px 10px;
}
.txCount{
	text-align: center;
	margin-bottom: 10px;
}

#marbleIdWrap{
	font-weight: 700;
}

#marbleId{
	margin-top: 10px;
}

.auditMarble{
	line-height: 75px;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.auditMarble:hover{
	border-color: transparent;
	cursor: default;
}

.auditHint{
	font-size: 20px;
	font-weight: 100;
	color: #a1a7ad;
	margin-top: 55px;
	text-align: center;
}

.auditingMarble{
	border-color: $hi_color2;
}

#auditClose{
	position: absolute;
	top: 10px;
	right: 25px;
	cursor: pointer;
}
#auditClose:hover{
	color: $hi_color2;
}

.auditMarble:hover{
	border-color: transparent !important;
}

#auditButton{
	position: fixed;
	left: -22px;
	background: $acc_color2;
	color: $main_color;
	transform: rotate(90deg);
	padding: 5px 20px;
	top:50%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	transition: all .25s linear;
}
#auditButton:hover{
	color: $acc_color1-5;
}
