@import 'color_theme';
$left_width: 175px;
#auditWrap {
	position: absolute;
	bottom: 60px;
	border-top: $acc_color2 solid 1px;
	width: 100%;
	border: 1px $main_color solid;
	border-left: 0;
	border-right: 0;
	background: $acc_color2;
	color: $main_color;
}
#auditLegend{
	color: $acc_color3;
	padding: 0 0 10px 0;
	bottom: 13px;
	font-size: 18px;
}
#auditContentWrap{
	display: none;
	padding: 10px;
	max-height: 210px;
	min-height: 145px;
	overflow-x: hidden;
	overflow-y: auto;
}
#marbleIdWrap{
	font-size: 12px;
	margin-bottom: 15px;
}
#auditHandle{
	width: 50px;
	background: #fff;
	position: absolute;
	left: 48.5%;
	top: -16px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #000;
	text-align: center;
	cursor: pointer;
}

.txHistoryWrap{
	display: inline-block;
	vertical-align: bottom;
	width: calc(99% - 175px);
	margin-left: $left_width;
} 
.leftTxWrap{
	width: $left_width;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: fixed;
}

.biggerLeft{
	margin-bottom: 50px;
}

.txDetails{
	position: relative;
	vertical-align: bottom;
	font-size: 14px;
	display: inline-block;
	margin-left: 20px;
	padding-right: 20px;
	border-right: 2px #fff solid;
	height: 96px;
	left: 100%;
	margin-top: 5px;
}
.marbleLegend{
	width: 85px;
	display: inline-block;
	font-weight: 700;
}
.marbleName{
	display: inline-block;
	margin-left: 10px;
}
.txId, .marbleName{
	background: $main_bg;
	font-size: 12px;
	font-family: monospace;
	padding: 3px 10px;
}
.txCount{
	text-align: center;
	margin-bottom: 10px;
	//font-weight: 700;
}

#marbleIdWrap{
	font-weight: 700;
}

.auditMarble{
	line-height: 75px;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.auditMarble:hover{
	border-color: transparent;
	cursor: default;
}

.auditHint{
	font-size: 20px;
	font-weight: 100;
	color: #a1a7ad;
	margin-top: 55px;
}