$main_bg: #343D48;
$main_color: #fff;

$acc_color0: #181C22;
$acc_color1: #222832;
$acc_color1-5: #39424D;
$acc_color2: #646B73;
$acc_color3: #7E90A0;


$hi_color1: orange;
$hi_color2: #2EB9D6;
$hi_color3: #6CC284;