$main_bg: #ddd;
$main_color: #00cc00;

$acc_color0: #06210A;
$acc_color1: #11511A;
$acc_color1-5: #657487;
$acc_color2: #909AA5;
$acc_color3: #fff;


$hi_color1: #2d1151;
$hi_color2: #2EB9D6;
$hi_color3: #6CC284;