@import 'color_theme';

// --------- part 2 ---------
#whoAmI{
	position: absolute;
	right:20px;
	z-index:3;
	top:0;
	color: $acc_color1;
	cursor: pointer;
	font-size: 13px;
	transition: background-color 0.3s ease;
	padding: 0 15px;
}
#userIcon{
	background:$acc_color2;
	padding:8px;
	border-radius:20px;
	width:20px;
	text-align: center;
	color: $acc_color3;
	margin-right:10px;
	font-size:20px;
}
#userSelect{
	display:none;
	position: absolute;
	top: 72px;
	right: -10px;
	z-index:2;
	//right: -10px;
	color: $acc_color2;
	//padding: 10px 0;
	background: $acc_color3;
	border-radius: 10px;
	width: 140px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.userLine{
	line-height: 40px;
	height: 40px;
	cursor:pointer;
	color: $acc_color1-5; 
	font-weight: 100;
}

.invalid{
	opacity: 0.3;
}
button:disabled{
	cursor: default;
}
button:disabled:hover{
	background: initial;
}
button:disabled, .inactiveButton{
	opacity: 0.3;
}


.altButton{
	background: $hi_color2;
}
.leftButton{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right:2px;
}
.rightButton{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin:0;
}


// --------- setup a trade ---------
#wantTradeSide, #willingTradeSide{
	position: relative;
	display:inline-block;
	width:49%;
	vertical-align: top;
	text-align:left;
}
#tradeForm{
	text-align: center;
	width:100%;
}
.openTrades{
	margin-bottom:10px;
}
.openTrades span{
	vertical-align: middle;
	margin-right:8px;
}
#addMarbleButton{
	float:left;
	min-width: initial;
	text-align: center;
	margin-left:5px;
}
#tradeSubmit{
	float:right;
	text-align: center;
	width:200px;
}
.removeWilling{
	color: $acc_color2;
	padding:5px;
	font-size:13px;
}
.removeWilling:hover{
	cursor: pointer;
	color: $hi_color1;
}
#myTradesTable{
	display:none;
}
.removeTrade{
	padding: 5px;
	cursor: pointer;
}
.removeTrade:hover{
	color: $main_bg;
}


// --------- cloes a trade ---------
#openTradesTable{
	margin-top:20px;
}
.confirmTrade{
	min-width: 90px;
	font-weight: bold;
}



.flash{
	background:$hi_color1 !important;
}