@import 'color_theme';
#leftStepsWrap{
	display: inline-block;
	width: 170px;
	//border-right: 1px #fff solid;
}

#rightDetailsWrap{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 170px);
	text-align: center;
	//min-height: 320px;
}

.oneStepWrap{
	display: block;
	margin: 5px 0;
}
.oneStepWrap:hover{
	cursor: pointer;
	color: #2eb9d6;
}
.inactive:hover{						//inactive steps can't be clicked
	cursor: not-allowed;
	color: inherit;
}

.stepDivide{
	display: block;
	border-left: 1px #fff solid;
	height: 16px;
	margin: 0 6px;
	margin-top: -4px;
}

.stepIcon{
	display: inline-block;
	font-size: 10px;
	margin-left: 2.5px;
	margin-top: 3px;
}
.successfulStepIcon .stepIcon, .successfulStepIcon .stepDivide{
	color: $hi_color3;
	border-color: $hi_color3;
}
.errorStepIcon .stepIcon, .errorStepIcon .stepDivide{
	color: $err_color;
	border-color: $err_color;
}

.stepName{
	display: inline-block;
	margin-left: 14px;
	font-size: 16px;
	font-weight: 600;
}

.onStep .stepIcon{
	font-size: 20px;
	margin-left: -1px;
	margin-right: -4px;
}

#leftStepsTitle{
	font-size: 22px;
	margin-bottom: 18px;
}
.loadingdiv{
	display: none;
}
.inactive .stepName{
	font-style: italic;
}

.greenMe{
	color:  $hi_color3;
}
.redMe{
	color: $err_color;
}


// Step Contents
.stepWrap{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	line-height: 20px;
	margin-left: 30px;
}
.stepDescription{
	font-size: 13px;
	text-align: left;
}
.successStep{
	color: $hi_color3;
	margin: 20px 0;
	font-weight: 600;
	font-size: 14px;
	opacity: 0;
}
.failureStep{
	color: $err_color;
	margin: 20px 0;
	font-weight: 600;
	font-size: 14px;
	display: none;
}

.nextStep{					//default, don't show button
	display: none;
	float: right;
}
.runStep{
	float: right;
	margin-right: 20px;
}
.success .successStep{		//show success message if done
	opacity: 1;
}
.success .runStep{			//hide run buttons if already done
	display: none;
}
.success .nextStep{			//show next buttons if already done
	display: inline-block;
}
.errorStepContent .failureStep{		//show failure message if done
	display: block;
}
.settingsExpand{
	color: #fff;
	padding: 4px;
	text-align: left;
	padding-left: 17px;
	cursor: pointer;
	font-size: 13px;
}
.settingsExpand:hover{
	color: #ccc;
}
.settingsContent{
	margin: 16px;
	display: none;
}
.startupWrap{
	color: #5b6169;
	border: 1px #5b6169 solid;
	border-radius: 3px;
	margin: 20px 0;
}

#registerOwnersInputPanel, #registerOwners{
	display: block;
}

.stepHeader{
	font-weight: 600;
	margin-top: 10px;
	height: 32px;
}
.stepInputLegend{
	display: inline-block;
	text-align: right;
	width: 150px;
	font-size: 13px;
	margin-right: 5px;
	color: #fff;
}

@keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}
.slideOutDown {
	animation-name: slideOutDown;
	animation-duration: 0.8s;
}



//tooltip
.settingstooltip {
	position: relative;
	display: inline-block;
}
.settingstooltip .tooltiptext {
	visibility: hidden;
	width: 310px;
	background-color: #50565f;
	color: #fff;
	text-align: center;
	padding: 8px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	font-size: 13.5px;
	left: -156px;
	top: -37px;
}
.settingstooltip:hover .tooltiptext {
	visibility: visible;
}
.settingstooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #50565f transparent transparent transparent;
}