**/launchConfigurations
**/node_modules
**/.vscode
**/temp
**/public/logs/**
.idea
.project
/cc_summaries
keyValStore*
certificate.pem
/chaincode/Dockerfile
chaincode.exe
app_state*
/utils/fc_wrangler/kvs
/config/connection_profile_dev.json
/config/marbles_dev.json
/config/crypto/hsbn
/config/connection_profile_dev2.json
/config/marbles_dev2.json
/config/temp.json
package-lock.json
