extends ./template/layout.jade


block custom_header
	script(src='/js/simplestuff2.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
	style.
		#contentPanel{
			border-bottom:10px solid orange;
		}

block content
	#headerPanel
		#navPanel
			.nav.selectednav#adminLink Admin
			.nav(style="background:orange;")#createLink Create
			.nav(style="background:yellowgreen;")#tradeLink Trade
			.nav(style="background:#fff; color:#000;")#userWrap
				#logIn
					span.fa.fa-user &nbsp;
					span#loggedInName Hi, Bob &nbsp;
					span.fa.fa-angle-down
				#userSelect(hidden)
					.username Bob
					.username Leroy
				
		#logo
			#appName SimpleStuff App2
			span &nbsp;&nbsp;
			span(style="font-size:20px;").fa.fa-flag

	
	#contentPanel.adminview
		
		
		// --------------- Admin View -------------- //
		#adminView
			#description (Click a marble then the arrow to transfer it)
			.personWrap
				.legend Bob
				#bobswrap
			
			.personWrap(style="float:right;")
				.legend Leroy
				#leroyswrap
			
			#transferWrap
				span.fa.fa-chevron-left.fa-4x#transferleft(title="transfer marble left")
				span.fa.fa-remove.fa-4x(title="remove marble")#removemarble
				span.fa.fa-chevron-right.fa-4x#transferright(title="transfer marble right")
		
		
		// --------------- Create View -------------- //
		#createView(hidden)
			.legend Create Marble

			span.fa.fa-circle.fa-5x.createball
			
			form(action="/create" method="POST")#createform
				legend 
					.createLegend Name:
					input(type="text" name="name" placeholder="Name")
					span (random or custom string)
				br
				legend 
					.createLegend Color:
					select(name="color")
						option(value="white" style="color:black") 	White
						option(value="black" style="color:black") 	Black
						option(value="red" style="color:red") 		Red
						option(value="green" style="color:green") 	Green
						option(value="blue" style="color:blue") 	Blue
						option(value="purple" style="color:purple") Purple
						option(value="pink" style="color:pink") 	Pink
						option(value="orange" style="color:orange") Orange
				br
				legend 
					.createLegend Size:
					select(name="size")
						option(value="35") Large
						option(value="16") Small
				br
				legend 
					.createLegend User:
					select(name="user")
						option Bob
						option Leroy
				button(type="button")#submit Create
		
		
		// --------------- Trade View -------------- //
		#tradeView(hidden)
			.legend Trade
			
			center
				p
					button(type="button")#setupTradeButton Setup a trade
					span &nbsp;&nbsp;&nbsp;
					button(type="button")#viewTradeButton View open trades
			hr
			
			
			// ------ Create Trade sub Panel ------ //
			#createTrade(hidden)
				h1 New:
				form(action="/create" method="POST")#tradeForm
					br
					span.tradeTitle I want a

					select(name="color").tradeTitle
						option(value="white"  style="color:black") 	White
						option(value="black"  style="color:black") 	Black
						option(value="red"    style="color:red") 	Red
						option(value="green"  style="color:green") 	Green
						option(value="blue"   style="color:blue") 	Blue
						option(value="purple" style="color:purple") Purple
						option(value="pink"   style="color:pink") 	Pink
						option(value="orange" style="color:orange") Orange

					select(name="size").tradeTitle
						option(value="35") Large
						option(value="16") Small
					
					span.tradeTitle marble for any 1 of:
					br
					#marbleBox (need at least one marble)
					button(type="button")#submit Open this trade
					

				#ownedMarbles
					hr
					h2(style="text-align:left;") Owned Marbles:
					p (select marbles you are willing to trade away)
				
			#openTrades(hidden)
				h1 Open Trades:
				br
				p#openTradesWrap
					
					.openTrades
						span 2/1/ 11:17am - 
						span.txt WTT
						span.fa.fa-circle.fa-5x 
						span.txt for either
						span.large [
						span.fa.fa-circle.fa-5x(style="color:red")
						span.large ,
						span.fa.fa-circle.fa-5x(style="color:green")
						span.large ]
						span.fa.fa-exchange.takeTradeButton
						
					.openTrades
						span 2/1/ 11:16am - 
						span.txt WTT
						span.fa.fa-circle.fa-5x(style="color:blue")
						span.txt for either
						span.large [
						span.fa.fa-circle.fa-5x(style="color:black")
						span.large ,
						span.fa.fa-circle.fa-5x(style="color:white")
						span.large ,
						span.fa.fa-circle.fa-5x(style="color:yellow")
						span.large ]
						span.fa.fa-exchange.takeTradeButton
					
				p#closedTradesWrap
					.closedTrades
				
	#footer
		#blockWrap
			#details
				p Loading...
				hr
				