extends ./template/layout.jade


block custom_header
	script(type='text/javascript').
		$(document).ready(function(){
			
		});

block content
	#headerPanel
		#navPanel
			.nav.selectednav#adminLink Admin
			.nav(style="background:orange;")#createLink Create
		#logo
			#appName SimpleStuff App1
			span &nbsp;&nbsp;
			span(style="font-size:20px;").fa.fa-flag
			#owner(title="National Business Merchandise") An NBM Company
	
	#contentPanel.adminview
		#blockcounter(title="last block number") 001
		#blockdate(title="date of last block") loading...
		
		// --------------- Admin View -------------- //
		#adminView
			#description (Click a marble then the arrow to transfer it)
			.personWrap
				.legend Bob
				#bobswrap
			
			.personWrap(style="float:right;")
				.legend Leroy
				#leroyswrap
			
			#transferWrap
				span.fa.fa-chevron-left.fa-4x#transferleft(title="transfer marble left")
				span.fa.fa-remove.fa-4x(title="remove marble")#removemarble
				span.fa.fa-chevron-right.fa-4x#transferright(title="transfer marble right")
		
		
		// --------------- Create View -------------- //
		#createView(hidden)
			.legend Create Marble

			span.fa.fa-circle.fa-5x.createball
			
			form(action="/create" method="POST")#createform
				input(type="text" name="name" placeholder="Name")
				br
				select(name="color")
					option White
					option Red
					option Blue
					option Green
					option Yellow
				br
				select(name="size")
					option(value="35") Large
					option(value="25") Medium
					option(value="16") Small
				br
				select(name="user")
					option Bob
					option Leroy
				button(type="button")#submit Create