extends ./template/layout.jade


block custom_header
	script(type='text/javascript').
		$(document).ready(function(){
			$(document).on("click", ".go", function(){
			
			});
		});

block content
	h1 Velocity
	p An NBM Company
	
	hr
	
	#carIconWrap.borderMe cars icons go here
	
	#carDetailsWrap.borderMe 
		span car details go here
		button(type="button") Transfer ->
	
	
	
	
	
	
