extends ./template/layout.jade


block custom_header
	script(type='text/javascript').
		$(document).ready(function(){
			$(document).on("click", ".ball", function(){
				if($(this).hasClass("selectedball")){
					$(this).removeClass("selectedball");
				}
				else{
					$(this).addClass("selectedball");
				}
			});
			
			$("#adminLink").click(function(){
				$("#contentPanel").removeClass("createview").addClass("adminview");
				$("#adminView").fadeIn();
				$("#createView").hide();
			});
			$("#createLink").click(function(){
				$("#contentPanel").removeClass("adminview").addClass("createview");
				$("#createView").fadeIn();
				$("#adminView").hide();
			});
			
			function formatDate(date) {
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ' ' + ampm;
				return date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
			}

			var d = new Date();
			var e = formatDate(d);
			$("#blockdate").html(e);
		});

block content
	#headerPanel
		#navPanel
			.nav.selectednav#adminLink Admin
			.nav(style="background:orange;")#createLink Create
		#logo
			#appName SimpleStuff App1
			span 
				&nbsp;&nbsp;
				span(style="font-size:20px;").fa.fa-flag
			#owner(title="National Business Merchandise") An NBM Company
	
	#contentPanel.adminview
		#blockcounter(title="last block number") 001
		#blockdate(title="date of last block") loading...
		
		// --------------- Admin View -------------- //
		#adminView
			#description (Click a ball then the arrow to transfer it)
			.personWrap 
				.legend Bob			
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
			
			.personWrap(style="float:right;") 
				.legend Leroy
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
				span.fa.fa-circle.fa-5x.ball
			
			#transferWrap
				span.fa.fa-chevron-left.fa-5x#transferleft
				span.fa.fa-chevron-right.fa-5x#transferright
		
		
		// --------------- Create View -------------- //
		#createView(hidden)
			.legend Create

			span.fa.fa-circle.fa-5x.createball
			
			form(action="#" method="POST")#createform
				input(type="text" name="name" placeholder="Ball Nickname")
				br
				select(name="color")
					option White
					option Red
					option Blue
					option Green
					option Yellow
				br
				select(name="size")
					option Large
					option Medium
					option Small
				br
				select(name="user")
					option Bob
					option Leroy
				button(type="submit") +