extends ./template/layout.jade


block custom_header
	style.
		button{
			padding: 5px 15px;
			font-size: 13px;
			background: #41719C;
			border: 1px #41719c solid;
			float:right;
		}
		button:hover{
			background:#fff;
			color:#41719C;
		}
		hr{
			background:#41719c;
		}
		body{
			margin: auto;
			width:800px;
		}
		#mainWrap{
			margin: 0 auto;
		}
		#innerWrap{
			text-align:left;
			position:relative;
		}


		.fa{
			color: inherit;
			margin:0 5px;
		}
		#customcc, #newcc{
			padding:10px;
		}
		#customcc:hover, #newcc:hover{
			color:#ccc;
			cursor:pointer;
		}
		
		#delccname{
			cursor:pointer;
			padding:6px;
		}
		
		#chaincodeDetailsWrap{
			/*display:none;*/
		}
		#jsonarea{
			width: 100%;
			max-width:100%;
			padding:5px;
			height:300px;
		}
		
		
		#mainPanel{
			padding: 15px;
		}
		#ccWrap{
			width:700px;
		}
		.ccSummary{
			width:85px;
			height: 85px;
			font-size: 35px;
			font-family: Courier New;
			background:#fff;
			border: 1px #aaa solid;
			display:inline-block;
			margin-right: 10px;
			vertical-align:middle;
			text-align: center;
			line-height:85px;
		}
		.sel, .ccSummary:hover{
			cursor:pointer;
			border:1px #41719C solid;
		}
		
		.legend{
			display:inline-block;
			font-size:20px;
			width:100px;
			text-align:left;
		}
		.func{
			margin-left:50px;
		}
		.newInput{
			width:100%;
		}
		
	script(type='text/javascript').
		var ledger = [];
		var sel = 0;
		$(document).ready(function(){
			var loading = '<div class="loadingdiv"><span></span> <span></span> <span></span> <span></span> <span></span><div></div></div>';
			var lsKey = 'cc_investigator';
			
			// ===============================================================================================================
			// 												On Start Up
			// ================================================================================================================
			on_start();
			function on_start(){

				buildGoFunc(bag.cc.details);															//populate custom go functions panel
				if(bag && bag.cc && bag.cc.details) build_peer_options(bag.cc.details.peers);			//populate drop down peer select box
				//$("#jsonarea").html(JSON.stringify(bag.cc, null, 4));

				//localStorage.clear();
				//var obj = load_ls();
				//if(obj && obj.cc && obj.cc.names){
				//	build_cc(bag.cc);
				//}
				rest_get_cc_names();
			}
			
			function load_ls(){
				if(window.localStorage) {
					var str = window.localStorage.getItem(lsKey);
					var obj = {};
					if(str){
						obj = JSON.parse(str);
						//console.log('local storage', obj);
						return obj;
					}
				}
			}
			
			function store_cc_name(name){
				var str = window.localStorage.getItem(lsKey);
				var obj = {};
				if(!str){
					obj.cc = {names: []};
				}
				else{
					obj = JSON.parse(str);
				}
				
				if(name && !in_array(name, obj.cc.names)) obj.cc.names.push(name);			//only add if it doesn't exist yet
				window.localStorage.setItem(lsKey, JSON.stringify(obj));					//save new one
				//build_cc(obj.cc);
			}
			
			// ===============================================================================================================
			// 												jQuery Events
			// ================================================================================================================
			$(document).on("click", ".runButton", function(){
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var func = $(this).attr('func').toLowerCase();
				var args = $(this).prev().val();
				
				var temp = '';
				try{
					temp = JSON.parse("[" + args + "]");
				}
				catch(e){
					console.log('ERROR you done messed up - body was not vaild json');
					return false;
				}
				
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": func,
										"args": temp
									}
								}
							};
				
				console.log("invoking func", func, data);
				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/invoke',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success', json);
					},
					error: function(e){
						console.log('Error', e);
					}
				});
			});
			
			$("#read").click(function(){
				rest_read($("input[name='read_name']").val());
			});
			
			$("#readall").click(function(){
				rest_read_all_peers($("input[name='read_name']").val());
			});
			
			$("#write").click(function(){
				rest_write($("input[name='write_name']").val(), $("input[name='write_val']").val());
			});
			
			$("#deploy").click(function(){
				rest_deploy(cb_wait);
				
				function cb_wait(e, json){
					console.log('go - deploy timer finished', json);
				}
			});
			
			$("#peers").change(function(){
				sel = $(this).val();
				console.log('Selected: ', bag.cc.details.peers[sel].api_host, bag.cc.details.peers[sel].api_port);
			});
			
			$("#delccname").click(function(){
				var obj = load_ls();
				var name = bag.cc.details.deployed_name;
				if(name && name.length > 1){
					for(var i in obj.cc.names){
						if(obj.cc.names[i] == name){
							console.log('removing', name);
							obj.cc.names.splice(i, 1);
							window.localStorage.setItem(lsKey, JSON.stringify(obj));
							
							//build_cc(obj.cc);
							break;
						}
					}
				}
			});
			
			$("#loadjson").click(function(){
				try{
					bag.cc = JSON.parse($("#jsonarea").val());
				}
				catch(e){
					console.log('Error, invalid json');
				}
				on_start();
				$("#chaincodeDetailsWrap").fadeOut();
			});
			
			
			$("#barebones").click(function(){
				rest_barebones();
			});
			
			$("#remove").click(function(){
				rest_remove();
			});
			
			$("#init").click(function(){
				rest_init();
			});
			
			$(document).on("click", ".ccSummary", function(){
				var hash = $(this).attr("hash");
				console.log('Selected: ', hash);
				rest_get_cc(hash);
			});
			
			$(document).on("click", "#newcc", function(){
				if($("#newccWrap").is(":visible")){
					$("#newccWrap").fadeOut();
				}
				else{
					$("#newccWrap").fadeIn();
				}
			});
			
			$(document).on("click", "#customcc", function(){
				if($("#chaincodeDetailsWrap").is(":visible")){
					$("#chaincodeDetailsWrap").fadeOut();
				}
				else{
					$("#chaincodeDetailsWrap").fadeIn();
				}
			});
			
			$("#parsecc").click(function(){
				rest_parse_cc();
			});
			
			
			// ===============================================================================================================
			// 												HTTP Functions
			// ================================================================================================================
			function rest_read(name, lvl, cb){
				console.log("reading var", name);
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": "query",
										"args": [name]
									}
								}
							};
				//console.log(data);
				
				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/query',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - read', JSON.stringify(json));
						if(cb) cb(null, json);
					},
					error: function(e){
						console.log('Error - read', e);
						if(cb) cb(e, null);
					}
				});
			}
			
			function rest_write(name, value, cb){
				console.log("writing var", name);
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": "write",
										"args": [name, value]
									}
								}
							};
				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/invoke',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - write', json);
						if(cb) cb(null, json);
					},
					error: function(e){
						console.log('Error - write', e);
						if(cb) cb(e, null);
					}
				});
			}
			
			function rest_readNames(cb){
				console.log("reading all var names");
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": "readnames",
										"args": []
									}
								}
							};
				setTimeout(function(){ cb(null, ["hardcoded", "test", "a", "b"]); }, 1000);
				/*$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/query',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - readNames', json);
						if(cb) cb(null, json);
					},
					error: function(e){
						console.log('Error - readNames', e);
						if(cb) cb(e, null);
					}
				});*/
			}
			
			function rest_deploy(cb){
				console.log("deploying chaincode");
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = 	{
								type: "GOLANG",
								chaincodeID: {
									path: bag.cc.details.git_url
								},
								ctorMsg: {
									function: "init",
									"args": JSON.parse("[" + $("input[name='init_args']").val() + "]")
								}
							};
				console.log(data);
				
				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/deploy',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - deploy (you should still wait for go)', json);

						if(cb) setTimeout(function(){ cb(null, json); }, 60000);
					},
					error: function(e){
						console.log('Error - deploy', e);

						if(cb) cb(e, null);
					}
				});
			}
			
			function rest_read_all_peers(name, lvl, cb){
				console.log("reading var", name);
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": "query",
										"args": [name]
									}
								}
							};
				//console.log(data);
				
				for(var i in bag.cc.details.peers){
					$.ajax({
						method: 'POST',
						url: 'http://' + bag.cc.details.peers[i].api_host + ':' + bag.cc.details.peers[i].api_port + '/devops/query',
						data: JSON.stringify(data),
						peer_name: bag.cc.details.peers[i].name,
						contentType: 'application/json',
						success: function(json){
							console.log('Success - read all', this.peer_name, JSON.stringify(json));
							if(cb) cb(null, json);
						},
						error: function(e){
							console.log('Error - read all', this.peer_name, e);
							if(cb) cb(e, null);
						}
					});
				}
			}
			
			function rest_remove(){
				console.log("removing");
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;				
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": 'delete',
										"args": [$("input[name='remove_name']").val()]
									}
								}
							};

				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/invoke',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - remove', json);
					},
					error: function(e){
						console.log('Error - remove', e);
					}
				});
			}
			
			function rest_init(){
				console.log("init");
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": "init",
										"args": [name]
									}
								}
							};
				
				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/invoke',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - init', json);
					},
					error: function(e){
						console.log('Error - init', e);
					}
				});
			}
			
			function rest_barebones(){
				var host = bag.cc.details.peers[sel].api_host;
				var port = bag.cc.details.peers[sel].api_port;				
				var data = {
								"chaincodeSpec": {
									"type": "GOLANG",
									"chaincodeID": {
										name: bag.cc.details.deployed_name,
									},
									"ctorMsg": {
										"function": $("input[name='func_name']").val(),
										"args": JSON.parse($("input[name='func_val']").val())
									}
								}
							};

				$.ajax({
					method: 'POST',
					url: 'http://' + host + ':' + port + '/devops/invoke',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success', json);
					},
					error: function(e){
						console.log('Error', e);
					}
				});
			}
			
			function rest_get_cc_names(){
				//console.log("getting cc summary files");
				$.ajax({
					method: 'GET',
					url: 'http://' + bag.setup.SERVER.EXTURI + '/cc/summary',
					contentType: 'application/json',
					success: function(json){
						console.log('Success - get cc summaries');
						build_cc(json);
					},
					error: function(e){
						console.log('Error - get cc summaries', e);
					}
				});
			}
			
			function rest_get_cc(hash){
				//console.log("getting a cc summary file");
				$.ajax({
					method: 'GET',
					url: 'http://' + bag.setup.SERVER.EXTURI + '/cc/summary/' + hash,
					contentType: 'application/json',
					success: function(json){
						console.log('Success - get a cc summary');
						bag.cc = json;
						$("#jsonarea").html(JSON.stringify(json, null, 4));
						on_start();
					},
					error: function(e){
						console.log('Error - get cc summary', e);
					}
				});
			}
			
			function rest_parse_cc(){
				//console.log("getting a cc summary file");
				var data = 	{
								zip_url: '',
								git_url: '',
								git_dir: ''
							};
				$.ajax({
					method: 'POST',
					url: 'http://' + bag.setup.SERVER.EXTURI + '/cc/summary/' + hash,
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(json){
						console.log('Success - get a cc summary');
						bag.cc = json;
						$("#jsonarea").html(JSON.stringify(json, null, 4));
						on_start();
					},
					error: function(e){
						console.log('Error - get cc summary', e);
					}
				});
			}
			
			
			// ===============================================================================================================
			// 												Build UI Fun
			// ================================================================================================================
			function buildGoFunc(cc){
				var skip = ['write', 'read', 'delete', 'init'];
				var html = '';
				var field = '<input class="arginput" type="text" placeholder="array of strings"/>';
				if(cc && cc.func){
					for(var i in cc.func){
						if(!in_array(cc.func[i].toLowerCase(), skip)){
							html += '<div class="func">' + cc.func[i] + '([ ' + field + ']);'
								html += '<button type="button" class="runButton" func="' + cc.func[i] + '"> Run <span class="fa fa-fire"></span> </button>&nbsp;&nbsp;';
							html += '</div>';
						}
					}
					$("#customgowrap").html(html);
					$("#giturl").html(cc.git_url);
				}
			}
			
			function build_cc(names){														//chaincode select options
				var html = '';
				for(var i in names){
					var css_sel = '';
					if(bag.cc.details && names[i].indexOf(bag.cc.details.deployed_name) >= 0) css_sel = 'sel'
					html += '<div class="ccSummary ' + css_sel + '" hash="' + names[i] +'">' + names[i].substring(0, 3) + '</div>';
				}
				html += '<span class="fa fa-plus" id="newcc"></span>';
				html += '<span class="fa fa-gear" id="customcc"></span>';
				$("#chaincodes").html(html);
			}
			
			function build_peer_options(peers){														//peer select options
				if(peers){
					peers.sort(function(a, b) {															//alpha sort me
						var textA = a.id.toUpperCase();
						var textB = b.id.toUpperCase();
						return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
					});
					var html = '';
					for(var i in peers){
						html += '<option value="' + i +'">' + peers[i].name + '</option>';
					}
					$("#peers").html(html);
				}
			}
		});

block content
	h1 ChainCode Investigator
	p Examine/test your chaincode
	
	#chaincodeWrap
		span.legend Load:
		span#chaincodes
			.ccSummary ...

	#chaincodeDetailsWrap(hidden)
		span.legend Custom:
		span (you can click a chaincode above to copy its details)
		textarea#jsonarea stuff
		center
			button(type="button" style="float:none")#loadjson Load CC 
			span &nbsp;&nbsp;
			
	
	#newccWrap(hidden)
		span.legend New:
		p
			input(type="text" placeholder="Git Clone URL" name="git_url").newInput
		p
			input(type="text" placeholder="Git Zip URL" name="zip_url").newInput
		p
			input(type="text" placeholder="Unzipped Directory/Path" name="git_dir").newInput
		center
			button(type="button" style="float:none")#parsecc SDK Parse CC 
			span &nbsp;&nbsp;
	
	#loadWrap.ready
		span.legend Peer:
		select(style="margin-left:0;")#peers
	
	br
	br
	
	#funWrap.ready
		
		form#ccWrap
			h2 CRUD:
			hr
			.func 
				span Read (
				input(type="text" name="read_name" placeholder="var name")
				span ); 
				button(type="button")#read 
					span Run
					span.fa.fa-fire
				button(type="button" style="margin-right:10px;")#readall
					span Run All
					span.fa.fa-th
			
			.func 
				span Write (
				input(type="text" name="write_name" placeholder="var name")
				input(type="text" name="write_val" placeholder="value")
				span ); 
				button(type="button")#write
					span Run
					span.fa.fa-fire
				
			.func 
				span Remove (
				input(type="text" name="remove_name" placeholder="var name")
				span ); 
				button(type="button")#remove
					span Run
					span.fa.fa-fire
			
			.func 
				span Init ([
				input(type="text" name="init_args" placeholder="array of strings" value='"72"' style="width:100px;")
				span ]); 
				span#giturl(style="font-size:11px; margin-left:10px;") none
				button(type="button")#init
					span Run
					span.fa.fa-fire
				button(type="button" style="margin-right:10px;")#deploy
					span Deploy
					span.fa.fa-chevron-right
			br
			
			h2 Custom Chaincode:
			hr
			#customgowrap
			
			br
			h2 Bare Bones:
			hr
			.func 
				input(type="text" name="func_name" placeholder="func name")
				span (
				input(type="text" name="func_val" placeholder="argument")
				span ); 
				button(type="button")#barebones
					span Run
					span.fa.fa-fire
