extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(type='text/javascript').
		$(document).ready(function(){

			/*
			//roll_ball();
			function roll_ball() {
				$('#testBall').removeClass('hideBorders');
				$('#testBall2').hide();
				$('#testBall3').hide();
				$('#testBallLeft').hide();
				$('#testBallRight').hide();
				var move = 200;
				$('#testBall').animate({left: '+='+move}, {
					duration: 2000,
					step: function(distance) {
						var degree = distance * 360 / move;
						$('#testBall').css('transform','rotate(' + degree + 'deg)');
					},
					complete: shrink_ball
				});
			}

			var dist = 50;
			$('#testBall2').animate({top: '+=' + dist}, {duration: 2000});
			$('#testBall3').animate({top: '-=' + dist}, {duration: 2000});
			$('#testBallLeft').animate({left: '+=' + dist}, {duration: 2000});
			$('#testBallRight').animate({left: '-=' + dist}, {duration: 2000});
			

			var move = 200;
			$('#dummy').animate({left: '+=' + move}, {
				duration: 2000,
				step: function(distance) {
					var degree = distance * 360 / move;
					$('#ballWrap').css('transform','rotate(' + degree + 'deg)');
				},
				complete: roll_ball
			});

			function shrink_ball(){
				$('#testBall').animate({width: 0, height:0}, {
					duration: 300,
					complete: function(){
						$('#testBall').hide();
						setTimeout(function(){grow_ball();},1000);
					}
				});
			}

			function grow_ball(){
				$('#testBall').show();
				$('#testBall').animate({width: 40, height:40}, {
					duration: 600,
					complete: function(){
						//$('#testBall').hide();
					}
				});
			}*/
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	#loginTitle Marbles
	
	
// --------------- Main Stuff  -------------- //
block content
	#notificationWrap
	
	#contentPanel
		
		// --------------- Welcome Panel
		#welcomePanel
			h2(style="font-weight: 600;") WELCOME TO THE MARBLES DEMO APP

			#adminText
				span Hello 
				span#loginCompany #{bag.marble_company} 
				span admin.

			p 
				span This application allows you to simulate a simple asset transaction over a Hyperledger Fabric blockchain. 
				span Connect multiple peers to trade with a larger marble userbase. 
				span In this application, you can: 
			
			br
			br
			br

			#split1x3Wrap
				.split1x3
					.welcomeTitle
						span Trade
						//br
							span Assets
					br
					.blub1x3 Transfer assets/marbles across the marbles user base
					img(src="/imgs/welcome_img1.png").welcomeImg
				.split1x3
					.welcomeTitle
						span Create
						//br
							span Marbles
					br
					.blub1x3 Create new assets/marbles
					img(src="/imgs/welcome_img2.png").welcomeImg
				.split1x3
					.welcomeTitle
						span Verify
						//br
							span Ownership
					br
					.blub1x3 Verify marble transactions and ownership
					img(src="/imgs/welcome_img3.png").welcomeImg
			br
			br

			p 
				span For more information, please visit our 
				a(href="https://github.com/IBM-Blockchain/marbles/tree/v3.0") GitHub
				span.


		// --------------- Login Panel
		form#loginPanel(method="POST" action="#")
			p Enter
			hr
			input(type="text" placeholder="username" value="admin" name="username")
			button(type="submit") Login


		//#test(style="position: relative;")
			#ballWrap
				div.ball#testBall.hideBorders
				div.ball#testBall2
				div.ball#testBall3
				div.ball#testBallLeft
				div.ball#testBallRight
			#dummy
		
block footer
	//include ./template/blockchain.jade