extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/part1.js?v=#{bag.jshash}')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/nav.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#notificationsWrap
		.notificationWrap
			span.fa.fa-check.notificationIcon
			span test test good
			span.fa.fa-close.closeNotification
		.notificationWrap.warningNotice
			span.fa.fa-minus-circle.notificationIcon
			span test test bad
			span.fa.fa-close.closeNotification
		.notificationWrap
			span.fa.fa-check.notificationIcon
			span test test long one test test long one test test long one test test long one test test long onetest test long onetest test long onetest test long onetest test long onetest test long onetest test long one
			span.fa.fa-close.closeNotification
		.notificationWrap
			span.fa.fa-check.notificationIcon
			span test test good
			span.fa.fa-close.closeNotification
		.notificationWrap
			span.fa.fa-check.notificationIcon
			span test test good
			span.fa.fa-close.closeNotification


	#contentPanel
		
		
		// --------------- Home Panel
		include ./panel_home.jade
		
		
		// --------------- Create Panel
		include ./panel_create.jade
		
block footer
	include ./template/blockchain.jade