extends ./template/layout.pug
	
	
block custom_header
	// --------------- Header -------------- //
	script(src='/js/ui_events.js?v=' + bag.jshash)
	script(src='/js/websocket.js?v=' + bag.jshash)
	script(src='/js/startup.js?v=' + bag.jshash)
	script(src='/js/tx_story.js?v=' + bag.jshash)
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
block navpanel
	// --------------- Navigation Bar  -------------- //
	include ./template/nav.pug
	
	
block content
	// --------------- Main Stuff  -------------- //
	#notificationsWrap
		#noticeScrollWrap
			#emptyNotifications.hint No Notifications
		#notificationHandle 
			span.fa.fa-angle-down

	#auditButton 
		span.fa.fa-search
			
	#contentPanel
		
		// --------------- Home Panel
		include ./panel_home.pug
		
		// --------------- Create Panel
		include ./panel_create.pug

		// --------------- Start Up Walk Through Panel
		include ./panel_startup.pug

		// --------------- Walk Transaction Panel
		include ./panel_tx_story.pug

		// --------------- Settings Panel
		include ./panel_settings.pug

		// --------------- Disable Owner Panel
		include ./panel_disable_owner.pug
		
block footer
	include ./template/blockchain.pug