extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/ui_events.js?v=#{bag.jshash}')
	script(src='/js/websocket.js?v=#{bag.jshash}')
	script(src='/js/startup.js?v=#{bag.jshash}')
	script(src='/js/tx_story.js?v=#{bag.jshash}')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/nav.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#notificationsWrap
		#noticeScrollWrap
			#emptyNotifications.hint No Notifications
		#notificationHandle 
			span.fa.fa-angle-down

	#auditButton 
		span.fa.fa-search
			
	#contentPanel
		
		// --------------- Home Panel
		include ./panel_home.jade
		
		// --------------- Create Panel
		include ./panel_create.jade

		// --------------- Start Up Walk Through Panel
		include ./panel_startup.jade

		// --------------- Walk Transaction Panel
		include ./panel_tx_story.jade

		// --------------- Settings Panel
		include ./panel_settings.jade
		
block footer
	include ./template/blockchain.jade