#createPanel(hidden).panel
	h1 Create Marble
	hr
	
	#innerWrap
		span.createball
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="name" placeholder="Name Your Marble")
				span.hint &nbsp;&nbsp;RANDOM OR CUSTOM STRING
			
			br
			legend
				include ./template/color_options.jade
				
			br
			legend 
				select(name="size")
					option(value="35" disabled="disabled" selected="selected") Size
					option(value="35") Large
					option(value="16") Small
			br
			legend 
				select(name="user")
					option(value="#{bag.setup.USER1}" disabled="disabled" selected="selected") User
			button(type="button")#submit
				span.fa.fa-check &nbsp;&nbsp;
				span CREATE
			
			