#auditWrap
	#auditHandle
		span.fa.fa-angle-up
	#auditContentWrap.innerMarbleWrap
		.leftTxWrap
			#auditLegend AUDIT TXs
			#marbleIdWrap Marble: 
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble
				span.fa.fa-search

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions