#createPanel(hidden).panel
	h1 Create New User
	hr
	
	#innerWrap
		span.createball
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="name" placeholder="Name the User")
				span.hint &nbsp;&nbsp; Please input the name
				
			br
			legend 
				input(type="text" name="keyword" placeholder="input the keyword")
				span.hint &nbsp;&nbsp; Please input your keyword
				
			br
			legend 
				select(name="sex")
					option(value="man" disabled="disabled" selected="selected") sex
					option(value="man") man
					option(value="woman") woman
		
			button(type="button")#submit
				span.fa.fa-check &nbsp;&nbsp;
				span CREATE
			
			
			
