#createPanel(hidden).panel
	
	span.fa.fa-close#closeCreate

	h2 Create Marble
	hr
	
	#innerWrap
		span.createball
		
		form(action="/create" method="POST")#createform
			//legend 
			//input(type="hidden" name="name" placeholder="Name Your Marble")
			//span.hint &nbsp;&nbsp;RANDOM OR CUSTOM STRING
			
			//br
			legend
				include ./template/color_options.pug
				
			br
			legend 
				select(name="size")
					option(value="35" disabled="disabled") Size
					option(value="35" selected="selected") Large
					option(value="16") Small
			br
			legend 
				select(name="user" disabled="disabled")
					option(value="" disabled="disabled" selected="selected") User
			input(type="hidden" name="company" value="")
			input(type="hidden" name="owner_id" value="")

			br
			br
			button(type="button")#createMarbleButton
				span.fa.fa-plus-circle &nbsp;&nbsp;
				span Create
			
			