#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Marble
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions