#homePanel.panel
	div
		h1 #{bag.marble_company}
		hr

		#ownerWrap
			div#toolbarWrap
				.bottomAlign
					input(type="text" placeholder="Search" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0
				button#showStartupPanel
					span.fa.fa-gear 
					span &nbsp;&nbsp; Settings

				#trashbin.sortable
					span.fa.fa-trash-o.fa-3x
					span#trashText Drag and drop marble to remove
			

		//#description.hint DRAG AND DROP A MARBLE TO TRANSFER IT

		#allUserPanelsWrap

	// --------------- Start Up Walk Through Panel
	include ./panel_startup.jade