#homePanel.panel
	div
		h1 User System
		hr
		
		.marblesWrap
			.legend(style="text-align:right;") #{bag.setup.USER1.substring(0,1).toUpperCase() + bag.setup.USER1.substring(1)}
			#user1wrap.sortable &nbsp;

			
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable
