#txStoryPanel

	span.fa.fa-close.closeTxStory#closeTxStoryPos

	//----------------- Step 1 Content
	.txStepWrap#txStep1.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Build Proposal
		.txStoryWrap
			.marbleWrap
				div.ball#proposeMarbleStable.hideBorders.leftPos(title="Your marble tx")
				div.ball#proposeMarble.hideBorders.leftPos
				div.ball#marbleBorderTop.leftPos
				div.ball#marbleBorderBottom.leftPos
				div.ball#marbleBorderLeft.leftPos
				div.ball#marbleBorderRight.leftPos
		.txDescription
			span The invocation needs to be signed and packaged as a proposal. 
			span This is done here, in the Marbles application. 

	//----------------- Step 2 Content
	.txStepWrap#txStep2.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Endorsement
		.txStoryWrap 
			.marbleWrap
				div.ball#endorseMarbleStable(title="Your marble tx")
					span.fa.fa-check
				div.ball#endorseMarble
					span.fa.fa-check
		.txDescription
			span Next, we send the proposal to our peer for endorsing. 
			span The peer will simulate, verify, and sign the proposal.

	//----------------- Step 3 Content
	.txStepWrap#txStep3.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Ordering
		.txStoryWrap
			#orderBoxStable 
				span.ball.ordererMarbles.hideMe(title="Another marble tx")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="Your marble tx")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="Another marble tx")
					span.fa.fa-check
				#orderBox 007
		.txDescription
			span Then we send our proposal to the order. 
			span The orderer will organizes the sequence of many transactions from all over the network to build a block. 

	//----------------- Step 4 Content
	.txStepWrap#txStep4.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend Validate & Commit
		.txStoryWrap 
			#commitBoxStable(title="Block Height 007")
				span.fa.fa-check
				span 007
		.txDescription
			span Finally the block containing our transaction is verified and then committed to our peer's ledger.

	div
		.hint * Note the speed of this process is slowed down for demonstration purposes

	#txStoryErrorWrap 
		span Error: 
		span#txStoryErrorTxt &nbsp;

	//----------------- All done
	.stepHelpWrap#doneTxStep
		h2 Invoke Complete
		br
		br
		button(type="button").closeTxStory Close