#tradeView(hidden)
	h1 Trade Center
	hr
	
	br
	
	p
		button(type="button")#setupTradeButton.altButton.leftButton SETUP A TRADE
		button(type="button")#viewTradeButton.altButton.rightButton.inactiveButton VIEW OPEN TRADES
	
	
	// ------ Create Trade sub Panel ------ //
	#createTrade
		form(action="/create" method="POST")#tradeForm
			
			br
			
			#wantTradeSide
				p I WANT
				br
				
				select(name="want_quantity")
					option 1
					
				select(name="want_color")
					option(value="white"  style="color:black") 	White
					option(value="black"  style="color:black") 	Black
					option(value="red"    style="color:red") 	Red
					option(value="green"  style="color:green") 	Green
					option(value="blue"   style="color:blue") 	Blue
					option(value="purple" style="color:purple") Purple
					option(value="pink"   style="color:pink") 	Pink
					option(value="orange" style="color:orange") Orange

				select(name="want_size")
					option(value="35") Large
					option(value="16") Small
			
			#willingTradeSide
				div
					p I AM WILLING TO TRADE AWAY
					br
					
					.willingWrap
						select(name="will_quantity")
							option 1
							
						select(name="will_color")
							
						select(name="will_size")
							option(value="0") -
				br
				button(type="button")#addMarbleButton.altButton
					span.fa.fa-plus &nbsp;&nbsp;&nbsp;
					span ADD
				
				button(type="button")#tradeSubmit 
					span.fa.fa-check &nbsp;&nbsp;&nbsp;
					span OPEN A TRADE
			
		
	#openTrades(hidden)
	
		table#openTradesTable
			thead
				tr 
					th TIME
					//th USER
					th COLOR
					th SIZE
					th AMOUNT
					th FOR
					th &nbsp;
			tbody#openTradesBody
			
		p#closedTradesWrap
			.closedTrades