#homePanel.panel
	div
		h1 Marbles
		hr
		
		#description.hint DRAG AND DROP A MARBLE TO TRANSFER IT
		.marblesWrap
			.legend(style="text-align:right;") #{bag.setup.USER1.substring(0,1).toUpperCase() + bag.setup.USER1.substring(1)}'s
			ul#user1wrap.sortable &nbsp;

		
		.marblesWrap(style="float:right;")
			.legend #{bag.setup.USER2.substring(0,1).toUpperCase() + bag.setup.USER2.substring(1)}'s
			ul#user2wrap(style="text-align:left;").sortable &nbsp;
			
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			p.hint DRAG HERE TO REMOVE
			#trashbin.sortable