#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 Remove

	br
	br

	span Do you want to archive this marble owner?

	br
	br

	span Their marbles will also be archived.

	br
	br

	button.closeDisableOwner(style="float:left;") Nope
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner Yep