html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  width: 1175px;
  text-align: left;
  height: 100%;
  color: #555;
  font-family: Roboto, sans-serif;
  background: #fff; }

h1 {
  font-size: 26px;
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  display: inline; }

h3 {
  font-size: 20pt;
  font-weight: normal;
  margin: 0; }

h4 {
  font-size: 16pt;
  font-weight: normal;
  margin: 0; }

h5 {
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0; }

tr, td, th {
  border: 0;
  padding: 3px;
  text-align: left;
  border-right: 1px #ccc solid; }

table {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  text-align: center; }

tr {
  border-bottom: 1px #ccc solid; }

tr:nth-child(even) {
  background: #F6F5F7;
  border: 0; }

tr:hover {
  background: #ccc; }

tr:nth-child(even):hover {
  background: #ccc;
  border: 0; }

td {
  padding: 5px 15px 5px 15px; }

th {
  padding: 4px;
  font-weight: normal;
  background: #555;
  color: #fff;
  text-align: center; }

p {
  margin: 5px;
  padding: 0; }

hr {
  height: 1px;
  border: none;
  background: #555; }

pre {
  padding-left: 15px; }

input[type="submit"], input[type="button"], button {
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  background: #2e6da4;
  color: #fff;
  border: 2px #2e6da4 solid;
  transition: background-color 0.2s ease;
  border-radius: 5px; }

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
  background: #fff;
  color: #2e6da4; }

input[type="text"], input[type="password"], select {
  padding: 5px 10px;
  margin: 5px;
  color: #2e6da4; }

small {
  font-size: 10pt; }

img {
  border: 0;
  max-width: 100%; }

a, a:visited {
  color: #2e6da4;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

label {
  text-align: left; }

.error {
  color: #cc0000 !important; }

.valid {
  color: green !important; }

.white {
  color: #fff !important; }

.php_error {
  color: orange;
  font-weight: bold; }

.floatFixer {
  width: 100%;
  clear: both;
  height: 1px; }

/*Generic*/
.func {
  font-size: 20px; }

#ccWrap {
  width: 50%; }

button {
  float: right; }

/*Main Layout*/
#headerPanel {
  background: #fff;
  margin-top: 10px; }

#contentPanel {
  min-height: 500px;
  color: #fff;
  position: relative; }

.adminview {
  background: #68B7F0; }

.createview {
  padding: 0 20px;
  background: orange; }

#navPanel {
  display: inline-block; }

.nav {
  background: #fff;
  color: #fff;
  padding: 15px 40px;
  display: inline-block; }

.nav:hover {
  text-decoration: underline;
  cursor: pointer; }

.selectednav {
  background: #68B7F0; }

#logo {
  color: #47BC50;
  float: right; }

#appName {
  font-size: 24px;
  padding-bottom: 4px;
  font-weight: 900;
  display: inline-block; }

#owner {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  margin-left: 88px;
  color: #222; }

.personWrap {
  width: 42%;
  display: inline-block;
  text-align: left;
  color: #fff;
  margin-left: 2%; }

.legend {
  font-size: 100px;
  border-bottom: 1px #fff solid;
  padding-bottom: 5px; }

#transferright, #transferleft {
  cursor: pointer; }

#transferright:hover, #transferleft:hover {
  color: #222; }

.ball {
  display: inline-block;
  margin: 1px;
  border: 1px #68B7F0 solid;
  padding: 0 3px; }

.ball:hover {
  cursor: pointer;
  border-bottom: 1px #fff solid; }

.selectedball {
  border: 1px #fff solid; }

.createball {
  font-size: 175px;
  float: left;
  margin-left: 100px; }

.borderMe {
  border: 1px #41719C solid; }

#transferWrap {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px; }

#createform {
  float: left;
  margin-top: 10px;
  margin-left: 10px; }

#blockcounter {
  position: absolute;
  bottom: 10px;
  left: 10px; }

#blockdate {
  position: absolute;
  bottom: 10px;
  right: 10px; }

#description {
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center; }


/* Example
<div class="loadingdiv">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<div></div>
</div>
*/
.loadingdiv {
  height: 30px;
  margin: 10px 5px;
  display: inline-block; }

.loadingdiv span {
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  background: #5B9BD5;
  border-radius: 3px;
  -webkit-animation: loading 0.8s infinite alternate;
  -moz-animation: loading 0.8s infinite alternate;
  box-shadow: 1px 1px 1px #41719C; }

.loadingdiv div {
  height: 30px;
  display: inline-block;
  vertical-align: middle; }

.loadingdiv span:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s; }

.loadingdiv span:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s; }

.loadingdiv span:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s; }

.loadingdiv span:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s; }

@-webkit-keyframes loading {
  0% {
    height: 10px;
    -moz-transform: translateZ(0); }
  35% {
    height: 30px;
    -moz-transform: translateZ(-21px); }
  100% {
    height: 10px;
    -moz-transform: translateZ(0); } }

@-moz-keyframes loading {
  0% {
    height: 10px;
    -moz-transform: translateZ(0); }
  35% {
    height: 30px;
    -moz-transform: translateZ(-21px); }
  100% {
    height: 10px;
    -moz-transform: translateZ(0); } }

@media (max-width: 600px) {
  /* Nav Links */
  #headerPanel {
    padding: 10px; }
  #navWrap {
    width: 100%;
    top: 45px; }
  .navOption {
    padding: 15px; }
  /* Form Inputs */
  .formHeader, .mainForm {
    width: inherit; }
  .formInput, .formLabel {
    float: none;
    display: block;
    margin: auto !important; } }
