@import 'color_theme';

/*Main Layout*/
#headerPanel {
  background:#fff;
  margin-top:10px;
}

#contentPanel {
	min-height:500px;
	color:#fff;
	position: relative;
}

.adminview{
	background: $main_bg;
}

.createview{
	padding:0 20px;
	background: orange;
}

.tradeview{
	padding:0 20px;
	background: yellowgreen;
}




#navPanel {
	display:inline-block;
}
.nav {
	background: #fff;
	color:#fff;
	padding: 15px 40px;
	display:inline-block;
	}
.nav:hover{
	text-decoration: underline;
	cursor: pointer;
}
.selectednav{
	background: $main_bg
}



#logo{
	color: $acc_color;
	float:right;
}
#appName{
	font-size: 24px;
	padding-bottom:4px; 
	font-weight:900;
	display:inline-block;
}
#owner{
	font-size:12px;
	font-weight: 500;
	position: absolute;
	margin-left:88px;
	color:#222;
}


.personWrap{
	width:42%;
	display:inline-block;
	text-align: left;
	color:#fff;
	margin-left:2%;
}
.legend{
	font-size:100px;
	border-bottom: 1px #fff solid;
	padding-bottom:5px;
}

#transferright:hover, #transferleft:hover, #removemarble:hover{
	cursor: pointer;
	color:orange;
}

.ball{
	display:inline-block;
	margin:1px;
	border:1px $main_bg solid;
	padding:0 3px;
}
.ball:hover{
	cursor: pointer;
	border-bottom:1px #fff solid;
}
.selectedball{
	border:1px #fff solid;
}

.createball{
	font-size:175px;
	float:left;
	margin-left:100px;
}

.borderMe{
	border: 1px #41719C solid;
}
	
#transferWrap{
	position: absolute;
	width:100%;
	text-align: center;
	top:30px;
}

#createform{
	float:left;
	margin-top:10px;
	margin-left:20px;
}

#blockcounter{
	position: absolute;
	bottom:10px;
	left:10px;
}

#blockdate{
	position: absolute;
	bottom:10px;
	right:10px;
}

#description{
	position: absolute;
	bottom:75px;
	width:100%;
	text-align: center;
}

.createLegend{
	width:45px;
	display: inline-block;
}


#ccWrap{width:50%;}

#submit{
	text-align: center;
	width:200px;
	margin-top:20px;
}



// --------- app2 ---------
#ownedMarbles{
	width:100%;
	text-align: center;
	margin-top:90px;
	min-height:200px;
}
.tradeTitle{
	display:inline;
	font-size:28px;
}
#tradeForm{
	text-align: center;
	width:100%;
}
#marbleBox{
	border: 1px #fff solid;
	width: 80%;
	margin:5px auto;
	padding: 15px 5px;
	margin-top:15px;
}
#userSelect{
	position: absolute;
	top:45px;
	z-index:2;
	text-align: right;
	margin-left:-40px;
	padding-right:10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom:5px;
}
.username:hover{
	text-decoration: underline;
}

#userWrap, #userSelect{
	width:120px;
	background:#fff;
}
.openTrades{
	margin-bottom:10px;
}
.openTrades span{
	vertical-align: middle;
	margin-right:8px;
}
.txt{font-size:20px;} 			//open trade text
.large{font-size:80px;}
.takeTradeButton{
	position: relative;
	font-size:30px;
}
.takeTradeButton:hover{
	color:#555;
	cursor: pointer;
}

