$primary_bg: #EAEAEA;						//background for things like send button, input box
$primary_font: #2F3334;
$primary_bg_accent: #2F3334;				//hover over accent background
$primary_font_accent: #fff;

$bhub_bubble_bg: #6BD1EA;
$bhub_bubble_font: #000;
$user_bubble_bg:#C7E5ED;
$user_bubble_font: #000;

$cc_border_color: #41719C;
$cc_bg_color: #5B9BD5;

$main_bg: #68B7F0;
$acc_color: #47BC50;