.colorSelectWrap
	.colorInput
		span.colorValue Color
		span.fa.fa-angle-down(style="float:right; margin-right: 5px;")
	.colorOptionsWrap
		.colorOption.fa.fa-circle.white(color='white') &nbsp;
		.colorOption.fa.fa-circle.black(color='black') &nbsp;
		.colorOption.fa.fa-circle.red(color='red') &nbsp;
		.colorOption.fa.fa-circle.green(color='green') &nbsp;
		.colorOption.fa.fa-circle.blue(color='blue') &nbsp;
		.colorOption.fa.fa-circle.purple(color='purple') &nbsp;
		.colorOption.fa.fa-circle.pink(color='pink') &nbsp;
		.colorOption.fa.fa-circle.orange(color='orange') &nbsp;
		.colorOption.fa.fa-circle.yellow(color='yellow') &nbsp;