-////////////////////////////////////////////////// Functions //////////////////////////////////////////////////
-//Print Object Out Formatted
mixin debug(variable)
	br
	br
	pre #{JSON.stringify(variable, null, "\t")}

-////////////////////////////////////////////////// HTML //////////////////////////////////////////////////
-//Begin HTML
doctype html
html
	//Built by: Me
	//ETI Labs
	//Copyright 2015  - IBM
	head
		title #{title}
		link(rel="icon", type="image/png", href="/imgs/favicon.ico")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(type="text/css" rel="stylesheet" href="/css/main.min.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css')
		script(src='/js/util/jquery-1.11.1.min.js')
		script(src='/js/funk.js')
		script(src='/js/sockets.js')
		script(type='text/javascript').
			var bag = !{JSON.stringify(bag)};						//throw jade json over to JS
			console.log(bag);
			$(document).ready(function(){
				
			});
		block custom_header
		
		body
			#mainPanel
				//Main Content Panel
				block content