-////////////////////////////////////////////////// HTML //////////////////////////////////////////////////
-//Begin HTML
doctype html
html
	//Built by: Me
	//ETI Labs
	//Copyright 2016  - IBM
	head
		title #{title}
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		link(rel="icon" href="/imgs/favicon.ico" sizes="16x16")
		link(rel="icon" href="/imgs/favicon-32.png" sizes="32x32")
		link(rel="icon" href="/imgs/favicon-96.png" sizes="96x96")
		link(rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css")
		link(type="text/css" rel="stylesheet" href="/css/main.min.css?v=" + bag.csshash)
		script(src='/js/util/jquery-2.2.4.min.js')
		script(src='/js/util/jquery-ui-1.11.4/jquery-ui.min.js')
		script(src='/js/util/jquery.ui.touch-punch.min.js')
		script(src='/js/funk.js?v=' + bag.jshash)
		script(src='/js/blockchain.js?v=' + bag.jshash)
		script(src='/js/ui_building.js?v=' + bag.jshash)
		script(type='text/javascript').
			var bag = !{JSON.stringify(bag)};						//throw json over to JS
			console.log('bag', bag);
			$(document).ready(function(){
				$(".colorInput").click(function(){	//do not remove! no idea why but this helps safari open the color picker
					console.log('...');
				});
			});
		block custom_header
		
		body
			#rightEverything
				#tint
				
				#navPanel
					block navpanel
				
				#mainPanel
					block content
					
				br
				br
				br
				#footerPanel
					block footer

			#leftEverything
				include ../panel_audit.pug