#logo 
	img(src="/imgs/logo.png")#logoIcon
	span #{bag.marble_company}


#whoAmI
	span.fa.fa-user#userIcon
	span#userField Admin
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout").userLine Logout
