#logo IMTC: #{bag.marble_company}

#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	//.nav#homeLink HOME
	//.nav#createLink CREATE
	//.nav#tradeLink TRADES
	
#whoAmI
	span.fa.fa-user#userIcon
	span#userField #{bag.session.username}
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout" style="color: #fff; font-weight: 100;").userLine Logout
