#logo SIMPLE STUFF P1

#linkWraps
	//there is JS code that will show the corresponding panel to the clicked navigation div.
	//ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	//this code is in layout.jade
	.nav#homeLink HOME
	.nav#createLink CREATE
