#logo SIMPLE STUFF P2

#linkWraps
	//there is JS code that will show the corresponding panel to the clicked navigation div.
	//ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	//this code is in layout.jade
	.nav HOME
	.nav CREATE
	.nav TRADE
	
#whoAmI
	span.fa.fa-user#userIcon
	span#userField Hi Bob &nbsp;
	span.fa.fa-angle-down